<a href="https://colab.research.google.com/github/soichi-fujiwara/jupyter-notebook/blob/master/Train_Accidents_Pred_0902.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Timeカテゴリの指定時間を変更
##人数のカテゴライズ化→正規化

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
import pandas as pd

df_ac = pd.read_csv("./drive/My Drive/TrainAccident/Accident_list.csv")

#鉄道会社の人身事故発生順にソート
df_line = df_ac["line"].value_counts().reset_index()

#SeriseをDataFrameに変換
col_name = ["line","count"]
df_line = pd.DataFrame(df_line)

df_line.columns = col_name
df_line.head()

           line  count
0         東武東上線    291
1  山陽本線_(JR西日本)    263
2         京浜東北線    245
3         中央快速線    244
4   東海道線_(JR東海)    244

In [0]:
#件数は削除
df_line = df_line.drop("count",axis=1)
df_line

#CSVに出力
df_line.to_csv("./drive/My Drive/TrainAccident/line_List_Candidate.csv", encoding = 'utf-8',index=False,header=False)

In [4]:
import itertools

kanto_line = pd.read_table('./drive/My Drive/TrainAccident/kanto_line.txt', header=None)

#dataframeをlist化
kanto_line_list = kanto_line.values.tolist()
#2次元listから1次元listへ
kanto_line_list = list(itertools.chain.from_iterable(kanto_line_list))

print(kanto_line_list)

['東武東上線', '京浜東北線', '中央快速線', '常磐線', '小田急小田原線', '西武新宿線', '宇都宮線', '京王線', '京急本線', '西武池袋線', '東武伊勢崎線', '東海道線_(JR東日本)', '高崎線', '中央・総武緩行線', '東急田園都市線', '山手線', '東北本線', '近鉄大阪線', '京成本線', '横浜線', '横須賀線', '総武快速線', '南武線', '埼京線', '相鉄本線', '東武野田線', '東急東横線', '外房線', '新京成電鉄新京成線', '中央本線_(JR東日本)', '小田急江ノ島線', '武蔵野線', '総武本線', '都電荒川線', '東京メトロ東西線', '青梅線', '関東鉄道常総線', '成田線', '根岸線', '京王井の頭線', '都営地下鉄新宿線', '京葉線', '秩父鉄道秩父本線', '東急大井町線', '東京メトロ千代田線', '八高線', '東急池上線', '京王相模原線', '川越線', '東京メトロ日比谷線', '西武拝島線', '京成押上線', '相模線', '都営地下鉄浅草線', '江ノ島電鉄線', '東武スカイツリーライン', '東京メトロ半蔵門線', '東武アーバンパークライン', '都営地下鉄大江戸線', '東葉高速鉄道東葉高速線', '東京メトロ銀座線', '小田急多摩線', '横浜高速鉄道みなとみらい線', 'JR東西線', '首都圏新都市鉄道つくばエクスプレス', '京急空港線', '相鉄いずみ野線', '東京メトロ有楽町線', '東京臨海高速鉄道りんかい線', '鶴見線', '東京モノレール羽田空港線', '東武亀戸線', '京葉臨海鉄道臨海本線', '京王新線', '西武秩父線', '埼玉高速鉄道線', '横浜市営地下鉄ブルーライン']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [5]:
#関東(首都圏)に影響を与えそうな路線のデータのみ抽出
new_data = df_ac[df_ac['line'].isin(kanto_line_list)]
new_data = new_data.reset_index()

#不要な項目を削除
new_data = new_data.drop("index",axis=1)

new_data.head(5)

         date   time  yobi    line from_st  to_st     st
0  2019/08/10  20:08     5     八高線     拝島駅   東福生駅    拝島駅
1  2019/08/09  22:39     4   東急東横線   学芸大学駅  学芸大学駅  学芸大学駅
2  2019/08/07  18:00     2    宇都宮線    東大宮駅    蓮田駅   東大宮駅
3  2019/08/06  11:54     1    総武本線     八街駅    日向駅    八街駅
4  2019/08/05  12:18     0  東急大井町線   自由が丘駅   九品仏駅  自由が丘駅

In [6]:
#乗車人数
ninzu_df = pd.read_csv("./drive/My Drive/TrainAccident/TrainNinzu.csv")
ninzu_df['ninzu'] = ninzu_df['ninzu'].astype('float')
ninzu_df.head()

        st    ninzu
0   JR三山木駅   1899.0
1   JR五位堂駅   1567.0
2   JR俊徳道駅   8147.0
3    JR小倉駅   3752.0
4  JR河内永和駅  12844.0

In [7]:
import numpy as np
import pandas as pd
from datetime import date, timedelta
import datetime
import itertools

#祝日
holi_df = pd.read_csv("./drive/My Drive/TrainAccident/holiday.csv")
#キー結合させる為
holi_df["date"] = holi_df['date'].astype('str')

#土日
donichi_df = pd.DataFrame({"date": [pd.to_datetime("2010-01-01") + timedelta(days=i) for i in range(3650)]},dtype="object")
donichi_df = donichi_df.assign(yobi=pd.to_datetime(donichi_df['date']).apply(lambda x: x.weekday()))

donichi_df['date'] = donichi_df['date'].astype('str')
donichi_df['date'] = donichi_df['date'].str[0:10]

donichi_df = donichi_df[donichi_df['yobi'] >= 5]
donichi_df['date'] = donichi_df['date'].str.replace('-', '/')
donichi_list = donichi_df['date'].tolist()

donichi_df.to_csv("./drive/My Drive/TrainAccident/donichi.csv")

print(holi_df.head())
print(donichi_list)

         date  holiday_flg
0  2010/01/01            1
1  2010/01/11            1
2  2010/02/11            1
3  2010/03/21            1
4  2010/03/22            1
['2010/01/02', '2010/01/03', '2010/01/09', '2010/01/10', '2010/01/16', '2010/01/17', '2010/01/23', '2010/01/24', '2010/01/30', '2010/01/31', '2010/02/06', '2010/02/07', '2010/02/13', '2010/02/14', '2010/02/20', '2010/02/21', '2010/02/27', '2010/02/28', '2010/03/06', '2010/03/07', '2010/03/13', '2010/03/14', '2010/03/20', '2010/03/21', '2010/03/27', '2010/03/28', '2010/04/03', '2010/04/04', '2010/04/10', '2010/04/11', '2010/04/17', '2010/04/18', '2010/04/24', '2010/04/25', '2010/05/01', '2010/05/02', '2010/05/08', '2010/05/09', '2010/05/15', '2010/05/16', '2010/05/22', '2010/05/23', '2010/05/29', '2010/05/30', '2010/06/05', '2010/06/06', '2010/06/12', '2010/06/13', '2010/06/19', '2010/06/20', '2010/06/26', '2010/06/27', '2010/07/03', '2010/07/04', '2010/07/10', '2010/07/11', '2010/07/17', '2010/07/18', '2010/07/24', '2010/07/25', '2010/07/31', '2010/08/01', '2010/08/07', '2010/08/08', '2010/08/14', '2010/08/15', '2010/08/21', '2010/08/22', '2010/08/28', '2010/08/29', '2010/09/04', '2010/09/05', '2010/09/11', '2010/09/12', '2010/09/18', '2010/09/19', '2010/09/25', '2010/09/26', '2010/10/02', '2010/10/03', '2010/10/09', '2010/10/10', '2010/10/16', '2010/10/17', '2010/10/23', '2010/10/24', '2010/10/30', '2010/10/31', '2010/11/06', '2010/11/07', '2010/11/13', '2010/11/14', '2010/11/20', '2010/11/21', '2010/11/27', '2010/11/28', '2010/12/04', '2010/12/05', '2010/12/11', '2010/12/12', '2010/12/18', '2010/12/19', '2010/12/25', '2010/12/26', '2011/01/01', '2011/01/02', '2011/01/08', '2011/01/09', '2011/01/15', '2011/01/16', '2011/01/22', '2011/01/23', '2011/01/29', '2011/01/30', '2011/02/05', '2011/02/06', '2011/02/12', '2011/02/13', '2011/02/19', '2011/02/20', '2011/02/26', '2011/02/27', '2011/03/05', '2011/03/06', '2011/03/12', '2011/03/13', '2011/03/19', '2011/03/20', '2011/03/26', '2011/03/27', '2011/04/02', '2011/04/03', '2011/04/09', '2011/04/10', '2011/04/16', '2011/04/17', '2011/04/23', '2011/04/24', '2011/04/30', '2011/05/01', '2011/05/07', '2011/05/08', '2011/05/14', '2011/05/15', '2011/05/21', '2011/05/22', '2011/05/28', '2011/05/29', '2011/06/04', '2011/06/05', '2011/06/11', '2011/06/12', '2011/06/18', '2011/06/19', '2011/06/25', '2011/06/26', '2011/07/02', '2011/07/03', '2011/07/09', '2011/07/10', '2011/07/16', '2011/07/17', '2011/07/23', '2011/07/24', '2011/07/30', '2011/07/31', '2011/08/06', '2011/08/07', '2011/08/13', '2011/08/14', '2011/08/20', '2011/08/21', '2011/08/27', '2011/08/28', '2011/09/03', '2011/09/04', '2011/09/10', '2011/09/11', '2011/09/17', '2011/09/18', '2011/09/24', '2011/09/25', '2011/10/01', '2011/10/02', '2011/10/08', '2011/10/09', '2011/10/15', '2011/10/16', '2011/10/22', '2011/10/23', '2011/10/29', '2011/10/30', '2011/11/05', '2011/11/06', '2011/11/12', '2011/11/13', '2011/11/19', '2011/11/20', '2011/11/26', '2011/11/27', '2011/12/03', '2011/12/04', '2011/12/10', '2011/12/11', '2011/12/17', '2011/12/18', '2011/12/24', '2011/12/25', '2011/12/31', '2012/01/01', '2012/01/07', '2012/01/08', '2012/01/14', '2012/01/15', '2012/01/21', '2012/01/22', '2012/01/28', '2012/01/29', '2012/02/04', '2012/02/05', '2012/02/11', '2012/02/12', '2012/02/18', '2012/02/19', '2012/02/25', '2012/02/26', '2012/03/03', '2012/03/04', '2012/03/10', '2012/03/11', '2012/03/17', '2012/03/18', '2012/03/24', '2012/03/25', '2012/03/31', '2012/04/01', '2012/04/07', '2012/04/08', '2012/04/14', '2012/04/15', '2012/04/21', '2012/04/22', '2012/04/28', '2012/04/29', '2012/05/05', '2012/05/06', '2012/05/12', '2012/05/13', '2012/05/19', '2012/05/20', '2012/05/26', '2012/05/27', '2012/06/02', '2012/06/03', '2012/06/09', '2012/06/10', '2012/06/16', '2012/06/17', '2012/06/23', '2012/06/24', '2012/06/30', '2012/07/01', '2012/07/07', '2012/07/08', '2012/07/14', '2012/07/15', '2012/07/21', '2012/07/22', '2012/07/28', '2012/07/29', '2012/08/04', '2012/08/05', '2012/08/11', '2012/08/12', '2012/08/18', '2012/08/19', '2012/08/25', '2012/08/26', '2012/09/01', '2012/09/02', '2012/09/08', '2012/09/09', '2012/09/15', '2012/09/16', '2012/09/22', '2012/09/23', '2012/09/29', '2012/09/30', '2012/10/06', '2012/10/07', '2012/10/13', '2012/10/14', '2012/10/20', '2012/10/21', '2012/10/27', '2012/10/28', '2012/11/03', '2012/11/04', '2012/11/10', '2012/11/11', '2012/11/17', '2012/11/18', '2012/11/24', '2012/11/25', '2012/12/01', '2012/12/02', '2012/12/08', '2012/12/09', '2012/12/15', '2012/12/16', '2012/12/22', '2012/12/23', '2012/12/29', '2012/12/30', '2013/01/05', '2013/01/06', '2013/01/12', '2013/01/13', '2013/01/19', '2013/01/20', '2013/01/26', '2013/01/27', '2013/02/02', '2013/02/03', '2013/02/09', '2013/02/10', '2013/02/16', '2013/02/17', '2013/02/23', '2013/02/24', '2013/03/02', '2013/03/03', '2013/03/09', '2013/03/10', '2013/03/16', '2013/03/17', '2013/03/23', '2013/03/24', '2013/03/30', '2013/03/31', '2013/04/06', '2013/04/07', '2013/04/13', '2013/04/14', '2013/04/20', '2013/04/21', '2013/04/27', '2013/04/28', '2013/05/04', '2013/05/05', '2013/05/11', '2013/05/12', '2013/05/18', '2013/05/19', '2013/05/25', '2013/05/26', '2013/06/01', '2013/06/02', '2013/06/08', '2013/06/09', '2013/06/15', '2013/06/16', '2013/06/22', '2013/06/23', '2013/06/29', '2013/06/30', '2013/07/06', '2013/07/07', '2013/07/13', '2013/07/14', '2013/07/20', '2013/07/21', '2013/07/27', '2013/07/28', '2013/08/03', '2013/08/04', '2013/08/10', '2013/08/11', '2013/08/17', '2013/08/18', '2013/08/24', '2013/08/25', '2013/08/31', '2013/09/01', '2013/09/07', '2013/09/08', '2013/09/14', '2013/09/15', '2013/09/21', '2013/09/22', '2013/09/28', '2013/09/29', '2013/10/05', '2013/10/06', '2013/10/12', '2013/10/13', '2013/10/19', '2013/10/20', '2013/10/26', '2013/10/27', '2013/11/02', '2013/11/03', '2013/11/09', '2013/11/10', '2013/11/16', '2013/11/17', '2013/11/23', '2013/11/24', '2013/11/30', '2013/12/01', '2013/12/07', '2013/12/08', '2013/12/14', '2013/12/15', '2013/12/21', '2013/12/22', '2013/12/28', '2013/12/29', '2014/01/04', '2014/01/05', '2014/01/11', '2014/01/12', '2014/01/18', '2014/01/19', '2014/01/25', '2014/01/26', '2014/02/01', '2014/02/02', '2014/02/08', '2014/02/09', '2014/02/15', '2014/02/16', '2014/02/22', '2014/02/23', '2014/03/01', '2014/03/02', '2014/03/08', '2014/03/09', '2014/03/15', '2014/03/16', '2014/03/22', '2014/03/23', '2014/03/29', '2014/03/30', '2014/04/05', '2014/04/06', '2014/04/12', '2014/04/13', '2014/04/19', '2014/04/20', '2014/04/26', '2014/04/27', '2014/05/03', '2014/05/04', '2014/05/10', '2014/05/11', '2014/05/17', '2014/05/18', '2014/05/24', '2014/05/25', '2014/05/31', '2014/06/01', '2014/06/07', '2014/06/08', '2014/06/14', '2014/06/15', '2014/06/21', '2014/06/22', '2014/06/28', '2014/06/29', '2014/07/05', '2014/07/06', '2014/07/12', '2014/07/13', '2014/07/19', '2014/07/20', '2014/07/26', '2014/07/27', '2014/08/02', '2014/08/03', '2014/08/09', '2014/08/10', '2014/08/16', '2014/08/17', '2014/08/23', '2014/08/24', '2014/08/30', '2014/08/31', '2014/09/06', '2014/09/07', '2014/09/13', '2014/09/14', '2014/09/20', '2014/09/21', '2014/09/27', '2014/09/28', '2014/10/04', '2014/10/05', '2014/10/11', '2014/10/12', '2014/10/18', '2014/10/19', '2014/10/25', '2014/10/26', '2014/11/01', '2014/11/02', '2014/11/08', '2014/11/09', '2014/11/15', '2014/11/16', '2014/11/22', '2014/11/23', '2014/11/29', '2014/11/30', '2014/12/06', '2014/12/07', '2014/12/13', '2014/12/14', '2014/12/20', '2014/12/21', '2014/12/27', '2014/12/28', '2015/01/03', '2015/01/04', '2015/01/10', '2015/01/11', '2015/01/17', '2015/01/18', '2015/01/24', '2015/01/25', '2015/01/31', '2015/02/01', '2015/02/07', '2015/02/08', '2015/02/14', '2015/02/15', '2015/02/21', '2015/02/22', '2015/02/28', '2015/03/01', '2015/03/07', '2015/03/08', '2015/03/14', '2015/03/15', '2015/03/21', '2015/03/22', '2015/03/28', '2015/03/29', '2015/04/04', '2015/04/05', '2015/04/11', '2015/04/12', '2015/04/18', '2015/04/19', '2015/04/25', '2015/04/26', '2015/05/02', '2015/05/03', '2015/05/09', '2015/05/10', '2015/05/16', '2015/05/17', '2015/05/23', '2015/05/24', '2015/05/30', '2015/05/31', '2015/06/06', '2015/06/07', '2015/06/13', '2015/06/14', '2015/06/20', '2015/06/21', '2015/06/27', '2015/06/28', '2015/07/04', '2015/07/05', '2015/07/11', '2015/07/12', '2015/07/18', '2015/07/19', '2015/07/25', '2015/07/26', '2015/08/01', '2015/08/02', '2015/08/08', '2015/08/09', '2015/08/15', '2015/08/16', '2015/08/22', '2015/08/23', '2015/08/29', '2015/08/30', '2015/09/05', '2015/09/06', '2015/09/12', '2015/09/13', '2015/09/19', '2015/09/20', '2015/09/26', '2015/09/27', '2015/10/03', '2015/10/04', '2015/10/10', '2015/10/11', '2015/10/17', '2015/10/18', '2015/10/24', '2015/10/25', '2015/10/31', '2015/11/01', '2015/11/07', '2015/11/08', '2015/11/14', '2015/11/15', '2015/11/21', '2015/11/22', '2015/11/28', '2015/11/29', '2015/12/05', '2015/12/06', '2015/12/12', '2015/12/13', '2015/12/19', '2015/12/20', '2015/12/26', '2015/12/27', '2016/01/02', '2016/01/03', '2016/01/09', '2016/01/10', '2016/01/16', '2016/01/17', '2016/01/23', '2016/01/24', '2016/01/30', '2016/01/31', '2016/02/06', '2016/02/07', '2016/02/13', '2016/02/14', '2016/02/20', '2016/02/21', '2016/02/27', '2016/02/28', '2016/03/05', '2016/03/06', '2016/03/12', '2016/03/13', '2016/03/19', '2016/03/20', '2016/03/26', '2016/03/27', '2016/04/02', '2016/04/03', '2016/04/09', '2016/04/10', '2016/04/16', '2016/04/17', '2016/04/23', '2016/04/24', '2016/04/30', '2016/05/01', '2016/05/07', '2016/05/08', '2016/05/14', '2016/05/15', '2016/05/21', '2016/05/22', '2016/05/28', '2016/05/29', '2016/06/04', '2016/06/05', '2016/06/11', '2016/06/12', '2016/06/18', '2016/06/19', '2016/06/25', '2016/06/26', '2016/07/02', '2016/07/03', '2016/07/09', '2016/07/10', '2016/07/16', '2016/07/17', '2016/07/23', '2016/07/24', '2016/07/30', '2016/07/31', '2016/08/06', '2016/08/07', '2016/08/13', '2016/08/14', '2016/08/20', '2016/08/21', '2016/08/27', '2016/08/28', '2016/09/03', '2016/09/04', '2016/09/10', '2016/09/11', '2016/09/17', '2016/09/18', '2016/09/24', '2016/09/25', '2016/10/01', '2016/10/02', '2016/10/08', '2016/10/09', '2016/10/15', '2016/10/16', '2016/10/22', '2016/10/23', '2016/10/29', '2016/10/30', '2016/11/05', '2016/11/06', '2016/11/12', '2016/11/13', '2016/11/19', '2016/11/20', '2016/11/26', '2016/11/27', '2016/12/03', '2016/12/04', '2016/12/10', '2016/12/11', '2016/12/17', '2016/12/18', '2016/12/24', '2016/12/25', '2016/12/31', '2017/01/01', '2017/01/07', '2017/01/08', '2017/01/14', '2017/01/15', '2017/01/21', '2017/01/22', '2017/01/28', '2017/01/29', '2017/02/04', '2017/02/05', '2017/02/11', '2017/02/12', '2017/02/18', '2017/02/19', '2017/02/25', '2017/02/26', '2017/03/04', '2017/03/05', '2017/03/11', '2017/03/12', '2017/03/18', '2017/03/19', '2017/03/25', '2017/03/26', '2017/04/01', '2017/04/02', '2017/04/08', '2017/04/09', '2017/04/15', '2017/04/16', '2017/04/22', '2017/04/23', '2017/04/29', '2017/04/30', '2017/05/06', '2017/05/07', '2017/05/13', '2017/05/14', '2017/05/20', '2017/05/21', '2017/05/27', '2017/05/28', '2017/06/03', '2017/06/04', '2017/06/10', '2017/06/11', '2017/06/17', '2017/06/18', '2017/06/24', '2017/06/25', '2017/07/01', '2017/07/02', '2017/07/08', '2017/07/09', '2017/07/15', '2017/07/16', '2017/07/22', '2017/07/23', '2017/07/29', '2017/07/30', '2017/08/05', '2017/08/06', '2017/08/12', '2017/08/13', '2017/08/19', '2017/08/20', '2017/08/26', '2017/08/27', '2017/09/02', '2017/09/03', '2017/09/09', '2017/09/10', '2017/09/16', '2017/09/17', '2017/09/23', '2017/09/24', '2017/09/30', '2017/10/01', '2017/10/07', '2017/10/08', '2017/10/14', '2017/10/15', '2017/10/21', '2017/10/22', '2017/10/28', '2017/10/29', '2017/11/04', '2017/11/05', '2017/11/11', '2017/11/12', '2017/11/18', '2017/11/19', '2017/11/25', '2017/11/26', '2017/12/02', '2017/12/03', '2017/12/09', '2017/12/10', '2017/12/16', '2017/12/17', '2017/12/23', '2017/12/24', '2017/12/30', '2017/12/31', '2018/01/06', '2018/01/07', '2018/01/13', '2018/01/14', '2018/01/20', '2018/01/21', '2018/01/27', '2018/01/28', '2018/02/03', '2018/02/04', '2018/02/10', '2018/02/11', '2018/02/17', '2018/02/18', '2018/02/24', '2018/02/25', '2018/03/03', '2018/03/04', '2018/03/10', '2018/03/11', '2018/03/17', '2018/03/18', '2018/03/24', '2018/03/25', '2018/03/31', '2018/04/01', '2018/04/07', '2018/04/08', '2018/04/14', '2018/04/15', '2018/04/21', '2018/04/22', '2018/04/28', '2018/04/29', '2018/05/05', '2018/05/06', '2018/05/12', '2018/05/13', '2018/05/19', '2018/05/20', '2018/05/26', '2018/05/27', '2018/06/02', '2018/06/03', '2018/06/09', '2018/06/10', '2018/06/16', '2018/06/17', '2018/06/23', '2018/06/24', '2018/06/30', '2018/07/01', '2018/07/07', '2018/07/08', '2018/07/14', '2018/07/15', '2018/07/21', '2018/07/22', '2018/07/28', '2018/07/29', '2018/08/04', '2018/08/05', '2018/08/11', '2018/08/12', '2018/08/18', '2018/08/19', '2018/08/25', '2018/08/26', '2018/09/01', '2018/09/02', '2018/09/08', '2018/09/09', '2018/09/15', '2018/09/16', '2018/09/22', '2018/09/23', '2018/09/29', '2018/09/30', '2018/10/06', '2018/10/07', '2018/10/13', '2018/10/14', '2018/10/20', '2018/10/21', '2018/10/27', '2018/10/28', '2018/11/03', '2018/11/04', '2018/11/10', '2018/11/11', '2018/11/17', '2018/11/18', '2018/11/24', '2018/11/25', '2018/12/01', '2018/12/02', '2018/12/08', '2018/12/09', '2018/12/15', '2018/12/16', '2018/12/22', '2018/12/23', '2018/12/29', '2018/12/30', '2019/01/05', '2019/01/06', '2019/01/12', '2019/01/13', '2019/01/19', '2019/01/20', '2019/01/26', '2019/01/27', '2019/02/02', '2019/02/03', '2019/02/09', '2019/02/10', '2019/02/16', '2019/02/17', '2019/02/23', '2019/02/24', '2019/03/02', '2019/03/03', '2019/03/09', '2019/03/10', '2019/03/16', '2019/03/17', '2019/03/23', '2019/03/24', '2019/03/30', '2019/03/31', '2019/04/06', '2019/04/07', '2019/04/13', '2019/04/14', '2019/04/20', '2019/04/21', '2019/04/27', '2019/04/28', '2019/05/04', '2019/05/05', '2019/05/11', '2019/05/12', '2019/05/18', '2019/05/19', '2019/05/25', '2019/05/26', '2019/06/01', '2019/06/02', '2019/06/08', '2019/06/09', '2019/06/15', '2019/06/16', '2019/06/22', '2019/06/23', '2019/06/29', '2019/06/30', '2019/07/06', '2019/07/07', '2019/07/13', '2019/07/14', '2019/07/20', '2019/07/21', '2019/07/27', '2019/07/28', '2019/08/03', '2019/08/04', '2019/08/10', '2019/08/11', '2019/08/17', '2019/08/18', '2019/08/24', '2019/08/25', '2019/08/31', '2019/09/01', '2019/09/07', '2019/09/08', '2019/09/14', '2019/09/15', '2019/09/21', '2019/09/22', '2019/09/28', '2019/09/29', '2019/10/05', '2019/10/06', '2019/10/12', '2019/10/13', '2019/10/19', '2019/10/20', '2019/10/26', '2019/10/27', '2019/11/02', '2019/11/03', '2019/11/09', '2019/11/10', '2019/11/16', '2019/11/17', '2019/11/23', '2019/11/24', '2019/11/30', '2019/12/01', '2019/12/07', '2019/12/08', '2019/12/14', '2019/12/15', '2019/12/21', '2019/12/22', '2019/12/28', '2019/12/29']

In [21]:
import datetime
from datetime import date, timedelta

new_df = new_data.copy()

#-------------------------------------------------------------------------------------------
#時間帯
#-------------------------------------------------------------------------------------------
new_df = new_df.assign(time_category=new_df['time'])

new_df.loc[(new_df['time_category'].str[0:2].isin(["04","05"])) ,"time_category"] = "morning_time"
new_df.loc[(new_df['time_category'].str[0:2].isin(["06","07","08","09"])) ,"time_category"] = "comp_time"
new_df.loc[(new_df['time_category'].str[0:2].isin(["17","18","19","20"])) ,"time_category"] = "home_time"
new_df.loc[(new_df['time_category'].str[0:2].isin(["21","22","23"])) ,"time_category"] = "night_time"
new_df.loc[(new_df['time_category'].str[0:2].isin(["00","01","02","03"])) ,"time_category"] = "midnight_time"
new_df.loc[(new_df['time_category'].str[0:2].isin(["10","11","12"])) ,"time_category"] = "day_am_time"
new_df.loc[(new_df['time_category'].str[0:2].isin(["13","14","15","16"])) ,"time_category"] = "day_pm_time"

dmy_df = pd.get_dummies(new_df['time_category'])
add_df = pd.merge(new_df, dmy_df, left_index=True, right_index=True)
add_df = add_df.drop(["time","time_category"],axis=1)

#-------------------------------------------------------------------------------------------
#曜日
#-------------------------------------------------------------------------------------------
dmy_df = pd.get_dummies(add_df['yobi'],prefix='yobi')
add_df = pd.merge(add_df, dmy_df, left_index=True, right_index=True)
add_df = add_df.drop("yobi",axis=1)

#-------------------------------------------------------------------------------------------
#祝日
#-------------------------------------------------------------------------------------------
add_df = pd.merge(add_df,holi_df, on='date' , how='left')#left join
Special_holiday_list = ["08/13","08/14","08/15","08/16","12/29","12/30","12/31","01/02","01/03","01/04"]

#土日も休日扱いに
add_df.loc[(add_df['date'].str[5:10].isin(donichi_list)) ,"holiday_flg"] = 1
add_df.loc[(add_df['date'].str[5:10].isin(Special_holiday_list)) ,"holiday_flg"] = 1
add_df.loc[(add_df['holiday_flg'].isnull()) ,"holiday_flg"] = 0

#-------------------------------------------------------------------------------------------
#休み明け
#-------------------------------------------------------------------------------------------
#祝日
holi_df2 = holi_df.drop(["holiday_flg"],axis=1)
#土日
donichi_df2 = donichi_df.drop(["yobi"],axis=1)

year_list = ["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]
Special_holiday_list = ["08/13","08/14","08/15","08/16","12/29","12/30","12/31","01/02","01/03","01/04"]

holi_all_list = []

for yl in year_list:
  for sl in Special_holiday_list:
    wk = str(yl) + "/" + str(sl)
    holi_all_list.append(wk)

special_holi_df = pd.DataFrame(holi_all_list,columns=["date"])

#全休日
holi_all_df = pd.concat([holi_df,donichi_df,special_holi_df],axis=0)
holi_all_df = holi_all_df[~holi_all_df.duplicated(["date"])].sort_values('date', ascending=True).reset_index(drop=True)

holi_all_list = holi_all_df["date"].values.tolist()
renkyu_ake_list = []

for index,udl in enumerate(holi_all_list):
  #最大11連休まで考慮
  for i in [1,2,3,4,5,6,7,8,9,10,11]:
    chk_date = pd.to_datetime(udl) + timedelta(days=i)
    chk_date = str(chk_date)[0:10].replace('-', '/')
    
    if (index+i) == len(holi_all_list):
      break
    else:
      #次の日付[inidex+1]がlistに無い場合=平日と見なす
      if chk_date != holi_all_list[index+i]:
        renkyu_ake_list.append(chk_date)
        renkyu_cnt = 0
        break

renkyu_ake_list = set(renkyu_ake_list)
renkyu_ake_df = pd.DataFrame(renkyu_ake_list,columns=["date"]).sort_values('date', ascending=True).reset_index(drop=True)
renkyu_ake_df = renkyu_ake_df.assign(holi_ake_flg=1)

#CSV化
renkyu_ake_df.to_csv("./drive/My Drive/TrainAccident/renkyu_ake.csv",index=False)

add_df = pd.merge(add_df,renkyu_ake_df, on='date' , how='left')#left join
add_df.loc[(add_df['holi_ake_flg'].isnull()) ,"holi_ake_flg"] = 0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:62: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [0]:
#キー結合させる為
add_df["date"] = add_df['date'].astype('str')

#乗車人数
base_df = pd.merge(add_df,ninzu_df, on='st' , how='left')#left join

#乗車人数を正規化
base_df['ninzu'] = base_df['ninzu'].astype('float')
base_df = base_df[base_df['ninzu'] > 0]

s = base_df['ninzu']
base_df['ninzu'] = (s - s.min()) / (s.max() - s.min())

# #人数をカテゴライズ化(5分割)
# ninzu_cate_num_df = pd.DataFrame(pd.qcut(base_df['ninzu'], 5, labels=[1,2,3,4,5])).reset_index(drop=True)
# #カラム名変更(ninzu -> ninzu_cate)
# ninzu_cate_num_df = ninzu_cate_num_df.rename(columns={'ninzu': 'ninzu_cate'})
# base_df = pd.concat([base_df,ninzu_cate_num_df],axis=1)

# print(base_df["ninzu_cate"].value_counts())

In [23]:
#結合後にダミー変数化
# dmy_df = pd.get_dummies(base_df['ninzu_cate'],prefix='ninzu')
# base_df2 = pd.merge(base_df, dmy_df, left_index=True, right_index=True)
#base_df3 = base_df2.drop(["ninzu","ninzu_cate","line","from_st","to_st","st"],axis=1)
base_df3 = base_df.drop(["line","from_st","to_st","st"],axis=1)
#base_df3 = base_df3.assign(flg=1)
base_df3 = base_df3.assign(flg=1)
base_df3.head()

         date  comp_time  day_am_time  ...  holi_ake_flg     ninzu  flg
0  2019/08/10          0            0  ...           0.0  0.027365    1
1  2019/08/09          0            0  ...           0.0  0.022171    1
2  2019/08/07          0            0  ...           0.0  0.018589    1
3  2019/08/06          0            1  ...           0.0  0.003394    1
4  2019/08/05          0            1  ...           1.0  0.044573    1

[5 rows x 19 columns]

##▲base_df作成　ここまで
##▼make_df作成　ここから

In [47]:
import numpy as np
from datetime import date, timedelta
import itertools

#日付データ作成
dates_df = pd.DataFrame({"date": [pd.to_datetime("2010-01-01") + timedelta(days=i) for i in range(3650)]},dtype="object")
date_list = dates_df.values.tolist()

#デフォルトでは小数点が付いてしまう為、int型に変換
time_cate = np.eye(7).astype(int)
yobi_cate = np.eye(7).astype(int)
#holiday関連(休日flg,休日明けflg)
#ninzu_cate = np.eye(5).astype(int)

wk_list = []
for wk in date_list:
  for wk2 in time_cate:
    for wk3 in yobi_cate:
      #人数(正規化済)分 繰り返し
      list_parts = np.concatenate((wk,wk2,wk3,0,0,0.00,0), axis=None)
      wk_list.append(list_parts.tolist())
      list_parts = np.concatenate((wk,wk2,wk3,0,0,0.01,0), axis=None)
      wk_list.append(list_parts.tolist())
      list_parts = np.concatenate((wk,wk2,wk3,0,0,0.02,0), axis=None)
      wk_list.append(list_parts.tolist())
      list_parts = np.concatenate((wk,wk2,wk3,0,0,0.04,0), axis=None)
      wk_list.append(list_parts.tolist())
      list_parts = np.concatenate((wk,wk2,wk3,0,0,0.08,0), axis=None)
      wk_list.append(list_parts.tolist())
      list_parts = np.concatenate((wk,wk2,wk3,0,0,0.16,0), axis=None)
      wk_list.append(list_parts.tolist())
      list_parts = np.concatenate((wk,wk2,wk3,0,0,0.32,0), axis=None)
      wk_list.append(list_parts.tolist())
      list_parts = np.concatenate((wk,wk2,wk3,0,0,0.64,0), axis=None)
      wk_list.append(list_parts.tolist())
      list_parts = np.concatenate((wk,wk2,wk3,0,0,1.00,0), axis=None)
      wk_list.append(list_parts.tolist())

col=["date",
     #"comp_time","day_time","home_time","midnight_time","morning_time","night_time",
     "comp_time","day_am_time","day_pm_time","home_time","midnight_time","morning_time","night_time",
     "yobi_0","yobi_1","yobi_2","yobi_3","yobi_4","yobi_5","yobi_6",
     "holiday_flg","holi_ake_flg",
     #"ninzu_1","ninzu_2","ninzu_3","ninzu_4","ninzu_5",
     "ninzu",
     "flg"]

make_df = pd.DataFrame(data=wk_list,columns=col)

make_df['date'] = make_df['date'].astype('str')
make_df['date'] = make_df['date'].str.replace('-', '/')

#祝日
holi_list = holi_df["date"].values.tolist()
make_df.loc[(make_df["date"].isin(holi_list)),"holiday_flg"] = 1

#土日
make_df.loc[(make_df['date'].str[5:10].isin(donichi_list)) ,"holiday_flg"] = 1

#特殊休日
Special_holiday_list = ["08/13","08/14","08/15","08/16","12/29","12/30","12/31","01/02","01/03","01/04"]
make_df.loc[(make_df['date'].str[5:10].isin(Special_holiday_list)) ,"holiday_flg"] = 1

#平日はALLゼロ
make_df.loc[(make_df['holiday_flg'].isnull()) ,"holiday_flg"] = 0

#休日明け
ake_list = renkyu_ake_df["date"].values.tolist()
make_df.loc[(make_df["date"].isin(ake_list)),"holi_ake_flg"] = 1
make_df.loc[(make_df['holi_ake_flg'].isnull()) ,"holi_ake_flg"] = 0

make_df.head(3)

         date  comp_time  day_am_time  ...  holi_ake_flg  ninzu  flg
0  2010/01/01          1            0  ...             0   0.00    0
1  2010/01/01          1            0  ...             0   0.01    0
2  2010/01/01          1            0  ...             0   0.02    0

[3 rows x 19 columns]

##★データセットインポート(make_df)

In [0]:
make_df.to_csv("./drive/My Drive/TrainAccident/make_df.csv")
make_df = pd.read_csv("./drive/My Drive/TrainAccident/make_df.csv",index_col=0)

In [49]:
print(base_df3.columns)
print(make_df.columns)

Index(['date', 'comp_time', 'day_am_time', 'day_pm_time', 'home_time',
       'midnight_time', 'morning_time', 'night_time', 'yobi_0', 'yobi_1',
       'yobi_2', 'yobi_3', 'yobi_4', 'yobi_5', 'yobi_6', 'holiday_flg',
       'holi_ake_flg', 'ninzu', 'flg'],
      dtype='object')
Index(['date', 'comp_time', 'day_am_time', 'day_pm_time', 'home_time',
       'midnight_time', 'morning_time', 'night_time', 'yobi_0', 'yobi_1',
       'yobi_2', 'yobi_3', 'yobi_4', 'yobi_5', 'yobi_6', 'holiday_flg',
       'holi_ake_flg', 'ninzu', 'flg'],
      dtype='object')

In [50]:
ret = pd.concat([base_df3, make_df], axis=0)

#duplicated()と論理否定演算子~を使って、重複した行を削除したDataFrameを取得できる。
ret = ret[~ret.duplicated(["date",
                           #"comp_time","day_time","home_time","midnight_time","morning_time","night_time",
                           "comp_time","day_am_time","day_pm_time","home_time","midnight_time","morning_time","night_time",
                           "yobi_0","yobi_1","yobi_2","yobi_3","yobi_4","yobi_5","yobi_6",
                           "holiday_flg","holi_ake_flg",
                           #"ninzu_1","ninzu_2","ninzu_3","ninzu_4","ninzu_5"])]
                           "ninzu"])]

#余分なデータは削除
ret = ret[ret["date"] <= "2019/08/10"]
print(ret.shape)

(1552458, 19)

In [51]:
#補完したい期間の日付を入れたデータフレームを作ってマージ
#https://qiita.com/hanon/items/29cf5ed9acb4f731538f

#キー結合させる為
ret["date"] = ret['date'].astype('str')

#気温
temp_df = pd.read_csv("./drive/My Drive/TrainAccident/temp.csv")
temp_df = temp_df.dropna(subset=["max_temp"])
temp_df = temp_df.dropna(subset=["min_temp"])

ret2 = pd.merge(ret,temp_df, on='date' , how='left')#left join

#日照時間
sun_df = pd.read_csv("./drive/My Drive/TrainAccident/suntime.csv")
sun_df = sun_df.dropna(subset=["suntime"])

ret3 = pd.merge(ret2,sun_df, on='date' , how='left')#left join

#降水量/気圧
rain_pres_df = pd.read_csv("./drive/My Drive/TrainAccident/rain_pres.csv")
rain_pres_df = rain_pres_df.drop('dmy',axis=1)

rain_pres_df['rain'] = rain_pres_df['rain'].astype('float')
rain_pres_df['pres'] = rain_pres_df['pres'].astype('float')

ret3 = pd.merge(ret3,rain_pres_df, on='date' , how='left')#left join

print(ret3.head(3))
print(ret3.shape)

         date  comp_time  day_am_time  ...  suntime  rain    pres
0  2019/08/10          0            0  ...      9.4   0.0  1005.4
1  2019/08/09          0            0  ...     10.8   0.0  1005.5
2  2019/08/07          0            0  ...      9.5   0.0  1007.4

[3 rows x 24 columns]
(1552458, 24)

##季節ごとの平均気温を算出

In [52]:
#日付単位で最高気温を集計
#()･･･集計単位項目
#[]･･･集計対象項目
import numpy as np

#listからnumpy.darray型にしないとnumpyの集計関数が使用できない
temp_mean_ary = []
month_list = ["01","02","03","04","05","06","07","08","09","10","11","12"]

for m_val in month_list:
  max_temp = np.array(temp_df[temp_df.date.str[5:7] == m_val]["max_temp"]).mean()
  min_temp = np.array(temp_df[temp_df.date.str[5:7] == m_val]["min_temp"]).mean()

  list_parts = np.concatenate((m_val,max_temp,min_temp), axis=None)
  temp_mean_ary.append(list_parts.tolist())

col=["date","max_temp","min_temp"]
temp_mean_df = pd.DataFrame(data=temp_mean_ary,columns=col)
temp_mean_df

   date            max_temp            min_temp
0    01   9.794838709677418   2.507741935483871
1    02  10.226595744680852  3.3365248226950355
2    03  13.839354838709676  6.3590322580645156
3    04  18.512709030100336  10.966220735785955
4    05  23.480967741935483   16.16548387096774
5    06  25.544333333333334              19.536
6    07  29.809354838709684  23.691935483870967
7    08  31.556055363321803  25.126643598615917
8    09   27.33074074074074   21.60222222222222
9    10   21.92688172043011  16.513261648745523
10   11               16.85  10.752592592592592
11   12  12.179569892473117   5.196057347670251

##季節ごとの日照時間を算出

In [54]:
#日付単位で日照時間を集計
#()･･･集計単位項目
#[]･･･集計対象項目
import numpy as np

#欠損値削除
sun_df = sun_df.dropna()

#listからnumpy.darray型にしないとnumpyの集計関数が使用できない
sun_mean_ary = []
month_list = ["01","02","03","04","05","06","07","08","09","10","11","12"]

for m_val in month_list:
  sun_mean = np.array(sun_df[sun_df.date.str[5:7] == m_val]["suntime"]).mean()

  list_parts = np.concatenate((m_val,sun_mean), axis=None)
  sun_mean_ary.append(list_parts.tolist())

col=["date","suntime"]
sun_mean_df = pd.DataFrame(data=sun_mean_ary,columns=col)
sun_mean_df

   date            suntime
0    01  6.786774193548386
1    02  5.540714285714286
2    03  5.874516129032258
3    04  6.047666666666667
4    05  6.768506493506495
5    06  4.625333333333333
6    07  5.521824104234528
7    08  5.953103448275862
8    09  4.515925925925925
9    10  4.155913978494624
10   11  4.936194029850746
11   12  5.842446043165467

##欠測値を補完

In [55]:
#欠測日を確認
#(set:listの重複を削除)
max_temp_chk = set(ret3[ret3["max_temp"].isnull()]["date"].values)
print("最高気温:",max_temp_chk)

min_temp_chk = set(ret3[ret3["min_temp"].isnull()]["date"].values)
print("最低気温:",min_temp_chk)

sun_chk = set(ret3[ret3["suntime"].isnull()]["date"].values)
print("日照時間:",sun_chk)

rain_chk = set(ret3[ret3["rain"].isnull()]["date"].values)
print("降水量:",rain_chk)

pres_chk = set(ret3[ret3["pres"].isnull()]["date"].values)
print("気圧:",pres_chk)

最高気温: {'2012/04/04'}
最低気温: {'2012/04/04'}
日照時間: {'2013/05/21', '2013/05/19', '2012/11/08', '2017/07/17', '2014/02/20', '2010/02/18', '2012/07/23', '2014/12/05', '2017/07/11', '2012/11/09'}
降水量: set()
気圧: set()

In [0]:
#最高気温
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["01"])),"max_temp"] = temp_mean_df.loc[0,"max_temp"]
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["02"])),"max_temp"] = temp_mean_df.loc[1,"max_temp"]
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["03"])),"max_temp"] = temp_mean_df.loc[2,"max_temp"]
ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["04"])),"max_temp"] = temp_mean_df.loc[3,"max_temp"]
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["05"])),"max_temp"] = temp_mean_df.loc[4,"max_temp"]
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["06"])),"max_temp"] = temp_mean_df.loc[5,"max_temp"]
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["07"])),"max_temp"] = temp_mean_df.loc[6,"max_temp"]
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["08"])),"max_temp"] = temp_mean_df.loc[7,"max_temp"]
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["09"])),"max_temp"] = temp_mean_df.loc[8,"max_temp"]
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["10"])),"max_temp"] = temp_mean_df.loc[9,"max_temp"]
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["11"])),"max_temp"] = temp_mean_df.loc[10,"max_temp"]
# ret3.loc[(ret3["max_temp"].isnull()) & (ret3['date'].str[5:7].isin(["12"])),"max_temp"] = temp_mean_df.loc[11,"max_temp"]

#最低気温
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["01"])),"min_temp"] = temp_mean_df.loc[0,"min_temp"]
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["02"])),"min_temp"] = temp_mean_df.loc[1,"min_temp"]
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["03"])),"min_temp"] = temp_mean_df.loc[2,"min_temp"]
ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["04"])),"min_temp"] = temp_mean_df.loc[3,"min_temp"]
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["05"])),"min_temp"] = temp_mean_df.loc[4,"min_temp"]
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["06"])),"min_temp"] = temp_mean_df.loc[5,"min_temp"]
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["07"])),"min_temp"] = temp_mean_df.loc[6,"min_temp"]
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["08"])),"min_temp"] = temp_mean_df.loc[7,"min_temp"]
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["09"])),"min_temp"] = temp_mean_df.loc[8,"min_temp"]
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["10"])),"min_temp"] = temp_mean_df.loc[9,"min_temp"]
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["11"])),"min_temp"] = temp_mean_df.loc[10,"min_temp"]
# ret3.loc[(ret3["min_temp"].isnull()) & (ret3['date'].str[5:7].isin(["12"])),"min_temp"] = temp_mean_df.loc[11,"min_temp"]

#日照時間
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["01"])),"suntime"] = sun_mean_df.loc[0,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["02"])),"suntime"] = sun_mean_df.loc[1,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["03"])),"suntime"] = sun_mean_df.loc[2,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["04"])),"suntime"] = sun_mean_df.loc[3,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["05"])),"suntime"] = sun_mean_df.loc[4,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["06"])),"suntime"] = sun_mean_df.loc[5,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["07"])),"suntime"] = sun_mean_df.loc[6,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["08"])),"suntime"] = sun_mean_df.loc[7,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["09"])),"suntime"] = sun_mean_df.loc[8,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["10"])),"suntime"] = sun_mean_df.loc[9,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["11"])),"suntime"] = sun_mean_df.loc[10,"suntime"]
ret3.loc[(ret3["suntime"].isnull()) & (ret3['date'].str[5:7].isin(["12"])),"suntime"] = sun_mean_df.loc[11,"suntime"]

In [57]:
#予測に不要な項目を削除
ret4 = ret3.copy().drop(["date"], axis=1)

print(ret4.head())
print(ret4.shape)

   comp_time  day_am_time  day_pm_time  ...  suntime  rain    pres
0          0            0            0  ...      9.4   0.0  1005.4
1          0            0            0  ...     10.8   0.0  1005.5
2          0            0            0  ...      9.5   0.0  1007.4
3          0            1            0  ...     10.5   0.0  1008.4
4          0            1            0  ...     11.1   0.0  1009.5

[5 rows x 23 columns]
(1552458, 23)

In [58]:
#カラム「max_temp」「min_temp」を元に「diff_temp」を作成
ret5 = ret4.assign(diff_temp=ret4['max_temp'].astype(float)-ret4['min_temp'].astype(float))

print(ret5.head())
print(ret5.shape)

   comp_time  day_am_time  day_pm_time  ...  rain    pres  diff_temp
0          0            0            0  ...   0.0  1005.4        7.7
1          0            0            0  ...   0.0  1005.5        6.4
2          0            0            0  ...   0.0  1007.4        6.0
3          0            1            0  ...   0.0  1008.4        5.6
4          0            1            0  ...   0.0  1009.5        7.7

[5 rows x 24 columns]
(1552458, 24)

In [59]:
#型変換
ret5['max_temp'] = ret5['max_temp'].astype('float')
ret5['min_temp'] = ret5['min_temp'].astype('float')
ret5['diff_temp'] = ret5['diff_temp'].astype('float')
ret5['suntime'] = ret5['suntime'].astype('float')
ret5['rain'] = ret5['rain'].astype('float')
ret5['pres'] = ret5['pres'].astype('float')

#正規化
ret_ = ret5.copy()

s = ret_['max_temp']
ret_['max_temp'] = (s - s.min()) / (s.max() - s.min())

s = ret_['min_temp']
ret_['min_temp'] = (s - s.min()) / (s.max() - s.min())

s = ret_['suntime']
ret_['suntime'] = (s - s.min()) / (s.max() - s.min())

s = ret_['rain']
ret_['rain'] = (s - s.min()) / (s.max() - s.min())

s = ret_['pres']
ret_['pres'] = (s - s.min()) / (s.max() - s.min())

s = ret_['diff_temp']
ret_['diff_temp'] = (s - s.min()) / (s.max() - s.min())

ret = ret_.copy()
print(ret.head())
print(ret.shape)

   comp_time  day_am_time  day_pm_time  ...  rain      pres  diff_temp
0          0            0            0  ...   0.0  0.519626   0.358696
1          0            0            0  ...   0.0  0.521495   0.288043
2          0            0            0  ...   0.0  0.557009   0.266304
3          0            1            0  ...   0.0  0.575701   0.244565
4          0            1            0  ...   0.0  0.596262   0.358696

[5 rows x 24 columns]
(1552458, 24)

In [60]:
#不均衡データであることを確認する。
print(ret["flg"].value_counts())

0    1547425
1       5033
Name: flg, dtype: int64

In [61]:
#ダウンサンプリング
!pip install imbalanced-learn

from sklearn.metrics import accuracy_score
from imblearn.under_sampling import RandomUnderSampler
from sklearn.model_selection import cross_val_predict

# ラベルと入力データに分離する
y = ret.loc[:,"flg"]
y = y.values.tolist()

x = ret.loc[:,[
               #"comp_time","day_time","home_time","midnight_time","morning_time","night_time",
               "comp_time","day_am_time","day_pm_time","home_time","midnight_time","morning_time","night_time",
               "yobi_0","yobi_1","yobi_2","yobi_3","yobi_4","yobi_5","yobi_6",
               "holiday_flg","holi_ake_flg",
               #"ninzu_1","ninzu_2","ninzu_3","ninzu_4","ninzu_5","max_temp","min_temp","suntime","rain","pres","diff_temp"]]
               "ninzu","max_temp","min_temp","suntime","rain","pres","diff_temp"]]

#ダウンサンプリング
sampler = RandomUnderSampler(random_state=42)
X_resampled, y_resampled = sampler.fit_resample(x, y)
print(X_resampled.shape)

Requirement already satisfied: imbalanced-learn in /usr/local/lib/python3.6/dist-packages (0.4.3)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (0.21.3)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (1.3.1)
Requirement already satisfied: numpy>=1.8.2 in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn) (1.16.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20->imbalanced-learn) (0.13.2)
(10066, 23)

In [62]:
#再データフレーム化
X_resampled2 = pd.DataFrame(X_resampled,columns=[
                                                 "comp_time","day_am_time","day_pm_time","home_time","midnight_time","morning_time","night_time",
                                                 #"comp_time","day_time","home_time","midnight_time","morning_time","night_time",
                                                 "yobi_0","yobi_1","yobi_2","yobi_3","yobi_4","yobi_5","yobi_6",
                                                 "holiday_flg","holi_ake_flg",
                                                 #"ninzu_1","ninzu_2","ninzu_3","ninzu_4","ninzu_5","max_temp","min_temp","suntime","rain","pres","diff_temp"])
                                                 "ninzu","max_temp","min_temp","suntime","rain","pres","diff_temp"])
y_resampled2 = pd.DataFrame(y_resampled,columns=["flg"])

#結合
resmp_df = pd.concat([X_resampled2, y_resampled2],axis=1).reset_index(drop=True)

# #特徴量作成
# y_lst = ["yobi_0","yobi_1","yobi_2","yobi_3","yobi_4","yobi_5","yobi_6"]
# lst = ["hh_00","hh_01","hh_02","hh_03","hh_04","hh_05","hh_06","hh_07","hh_08","hh_09","hh_10","hh_11",
#        "hh_12","hh_13","hh_14","hh_15","hh_16","hh_17","hh_18","hh_19","hh_20","hh_21","hh_22","hh_23"]

# for ii in range(len(y_lst)):
#   for i in range(len(lst)):
#     resmp_df = resmp_df.assign(col_wk=resmp_df[lst[i]].astype(int)*resmp_df[y_lst[ii]].astype(int))
#     #カラム名変更(col_wk -> XXXXXXX)
#     resmp_df = resmp_df.rename(columns={'col_wk': lst[i]+"_"+y_lst[ii]})

resmp_df.to_csv("./drive/My Drive/TrainAccident/AccidentResample.csv",index=False)

#均衡データになったことを確認する。
print(resmp_df["flg"].value_counts())

1    5033
0    5033
Name: flg, dtype: int64

##検証1(Classifier)

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression

# ラベルと入力データに分離する
y = resmp_df.loc[:,"flg"]
y = y.values.tolist()
x = resmp_df.drop(["flg"],axis=1)

# 学習用とテスト用に分離する
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, train_size = 0.8, shuffle = True)

# 学習する
model = GradientBoostingClassifier ()
model.fit(x_train, y_train)

# 評価する
y_pred = model.predict(x_test)
print("正解率 = " , accuracy_score(y_test, y_pred))


#参考：日本の天気予報は正解率87%

正解率 =  0.9930486593843099

In [64]:
#説明変数の影響度合
#Classifierの場合
importances = model.feature_importances_
df_ft_name_df = pd.DataFrame(x.columns.tolist(),columns=["name"])
df_ft_val_df = pd.DataFrame(importances.tolist(),columns=["val"])

imp_df = pd.concat([df_ft_name_df,df_ft_val_df],axis=1).sort_values('val', ascending=False).reset_index(drop=True)
imp_df.head(10)

            name       val
0          ninzu  0.997575
1   morning_time  0.001226
2  midnight_time  0.000615
3       max_temp  0.000435
4       min_temp  0.000123
5         yobi_0  0.000011
6      home_time  0.000008
7   holi_ake_flg  0.000007
8      comp_time  0.000000
9    holiday_flg  0.000000

In [65]:
#真陽性率 (Recall)
#Positive なデータに対してモデルがどれだけ正解できているかを確認
from sklearn.metrics import recall_score
print("真陽性率 = ",recall_score(y_test, y_pred))

真陽性率 =  0.9859437751004017

In [66]:
#適合率 (Precision) 
#モデルが Positive と判断したデータの中に、どれだけ本当に Positive なものがあったかを確認
from sklearn.metrics import precision_score
print("適合率 = ",precision_score(y_test, y_pred))

適合率 =  1.0

In [67]:
#他のアルゴリズムの場合の予測
import warnings
from sklearn.utils.testing import all_estimators
from sklearn.metrics import accuracy_score

# classifierのアルゴリズム全てを取得する --- (*1)
warnings.filterwarnings('ignore')
allAlgorithms = all_estimators(type_filter="classifier")

for(name, algorithm) in allAlgorithms:

    #エラー回避
    if name == 'GradientBoostingClassifier' or name == 'RandomForestClassifier' or name == 'KNeighborsClassifier' or name == 'LogisticRegression' or name == 'LogisticRegressionCV':

      # 各アリゴリズムのオブジェクトを作成 --- (*2)
      # 注意:一部のアルゴリズムは引数に何かを渡さないとエラーになる。
      clf = algorithm()

      # 学習して、評価する --- (*3)
      #( x_train : 学習用データ / learn_label : ラベル)
      clf.fit(x_train, y_train)
      y_pred = clf.predict(x_test)
      print(name,"の正解率 = " , accuracy_score(y_test, y_pred))

GradientBoostingClassifier の正解率 =  0.9930486593843099
KNeighborsClassifier の正解率 =  0.7055610724925522
LogisticRegression の正解率 =  0.6911618669314796
LogisticRegressionCV の正解率 =  0.6911618669314796
RandomForestClassifier の正解率 =  0.8242303872889771

##検証2(スタッキング)

In [0]:
!pip install mlxtend

import numpy as np

from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.naive_bayes import GaussianNB as GNB
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.ensemble import BaggingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import VotingClassifier

from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support

#from stacking import StackingClassifier

#スタッキング参考
#https://www.haya-programming.com/entry/2018/02/17/035058
from mlxtend.classifier import StackingClassifier

def main():

    # ラベルと入力データに分離する
    y = resmp_df.loc[:,"flg"]
    y = y.values.tolist()
    x = resmp_df.drop(["flg"],axis=1)

    # 学習用とテスト用に分離する
    X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, train_size = 0.8, shuffle = True)

    svm =SVC(C=5, gamma=0.001, probability=True)
    lr = LogisticRegression()
    knn = KNN(n_jobs=-1)
    nb = GNB()
    rfc = RFC(n_estimators=500, n_jobs=-1)
    bgg = BaggingClassifier(n_estimators=300, n_jobs=-1)
    mlp = MLPClassifier(hidden_layer_sizes=(40, 20), max_iter=1000)

    estimators = list(zip(["svm","lr","knn","nb","rfc","bgg","mlp"],
                          [svm,lr,knn,nb,rfc,bgg,mlp]))
    for name, clf in estimators:
        clf.fit(X_train, y_train)
        preds = clf.predict(X_test)
        print(name)
        print("p:{0:.4f} r:{1:.4f} f1:{2:.4f}".format(
            *precision_recall_fscore_support(y_test, preds, average="macro")))

    for v in ["hard", "soft"]:
        vc_hard = VotingClassifier(estimators, voting=v)
        vc_hard.fit(X_train, y_train)
        preds = vc_hard.predict(X_test)
        print(v, "voting")
        print("p:{0:.4f} r:{1:.4f} f1:{2:.4f}".format(
            *precision_recall_fscore_support(y_test, preds, average="macro")))

    stcl = StackingClassifier(estimators, RFC(n_estimators=2000, n_jobs=-1))
    stcl.fit(X_train, y_train)
    preds = stcl.predict(X_test)
    print("stacking")
    print("p:{0:.4f} r:{1:.4f} f1:{2:.4f}".format(
        *precision_recall_fscore_support(y_test, preds, average="macro")))
    
if __name__ == "__main__":
    main()

Requirement already satisfied: mlxtend in /usr/local/lib/python3.6/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.3.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.21.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from mlxtend) (41.2.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (1.16.4)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (3.0.3)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.6/dist-packages (from mlxtend) (0.24.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.18->mlxtend) (0.13.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.4.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.17.1->mlxtend) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib>=1.5.1->mlxtend) (1.12.0)
svm
p:0.6405 r:0.5866 f1:0.5421
lr
p:0.6162 r:0.5894 f1:0.5638
knn
p:0.6081 r:0.6076 f1:0.6071
nb
p:0.6108 r:0.5823 f1:0.5531
rfc
p:0.6453 r:0.6439 f1:0.6429
bgg
p:0.6427 r:0.6413 f1:0.6404
mlp
p:0.6497 r:0.6489 f1:0.6484
hard voting
p:0.6752 r:0.6545 f1:0.6436
soft voting
p:0.6754 r:0.6601 f1:0.6521

TypeError: ignored

In [0]:
# pickleでモデルを保存
import pickle

filename = './drive/My Drive/TrainAccident/Accident_RFC_model.sav'
pickle.dump(model, open(filename, 'wb'))